@import "tailwindcss";
@theme {
  --font-primary: "Poppins", "sans-serif";
  --font-secondary: Arial, Helvetica, sans-serif;
}

/* CSS dosyanızda, kaydırma çubuğunu gizlemek için */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE 10+ */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Safari ve Chrome */
}